.episode-card {
  $this: &;

  &__body {
    padding-top: 0.4rem;
  }

  &__body-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    border-radius: 4px;
  }

  // &:hover {
  //   #{$this}__body {
  //     background-color: #000;
  //   }
  // }
}
