.hero-wrapper {
  min-height: 50rem;
  background-position: top center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;

  & > * {
    margin-left: 3.5rem;
    max-width: 28.125rem;
    position: relative;
    margin-bottom: 2rem;

    @media (max-width: 600px) {
      margin-left: 0;
    }
  }

  &::before {
    content: "";
    z-index: 0;
    background-image: radial-gradient(rgba(41, 45, 56, 0), #292d38);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .blue-hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;

    p {
      color: #000;
    }

    &:hover {
      background-color: rgb(0, 72, 255);

      p {
        color: #fff;
      }

      img {
        filter: invert(1);
      }
    }
  }
}
